body
{
    padding: 10px;
}

.controls {
    position: relative;
    margin: 0 -10px;
}

.controls .control {
    position: absolute;
	padding: 5px;
}

.controls .control-button .lbl,
.controls .control-button .icn {
	padding: 5px 0;
}

.controls .control-button img.button-image {
	height: 48px;
	width: 48px;
}

.controls .control-slider {
	display: flex;
	-ms-flex-direction: column;
	-webkit-flex-direction: column;
	flex-direction: column;
}

.controls .control-slider.vertical {
	-ms-flex-direction: row;
	-webkit-flex-direction: row;
	flex-direction: row;
}

.controls .control-slider .slider-wrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 0;
	height: 20px;
	width: 200px;
}

.controls .control-slider.vertical .slider-wrapper {
	display: block;
	width: 20px;
	height: 200px;
}

.controls .control-slider .slider-wrapper input[type="range"] {
	margin: 0;
	height: 20px;
	width: 200px;
}

.controls .control-slider.vertical .slider-wrapper input[type="range"] {
    transform-origin: 100px 100px;
    transform: rotate(-90deg);
}

.shade {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1000000;
    background-color: rgba(0, 0, 0, 0.7);
}
