body
{
    padding: 10px;
}

.controls {
    position: relative;
    margin: 0 -10px;
}

    .controls .control {
        position: absolute;
    }

    .controls  .control.btn {
        padding: 16px;
        min-height: 108px;
        min-width: 108px;
        max-width: 108px;
    }

        .controls .control.btn .icon {
            font-size: 48px;
        }

        .controls .control.btn .lbl {
            overflow-wrap: break-word;
            -ms-word-wrap: break-word;
            word-wrap: break-word;
        }

.shade {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.7);
}

